.DS_Store
/obj/
/bin/
*.dll
*.pdb
*.cache
output/*
publish/*
src/als-tools.core/bin/*
src/als-tools.core/obj/*
src/als-tools.infrastructure/obj/*
src/als-tools.infrastructure/bin/*
src/als-tools.ui.cli/bin/*
src/als-tools.ui.cli/obj/*
src/als-tools.ui.cli/output/*
src/als-tools.ui.web/bin/*
src/als-tools.ui.web/obj/*
src/als-tools.ui.web/bin/*
src/als-tools.ui.web/obj/*
ravendb-license.json
