bin/Debug/netcoreapp3.1/als-tools.deps.json
bin/Debug/netcoreapp3.1/als-tools.dll
bin/Debug/netcoreapp3.1/als-tools.pdb
bin/Debug/netcoreapp3.1/als-tools.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/als-tools.runtimeconfig.json
obj/als-tools.csproj.nuget.cache
obj/als-tools.csproj.nuget.dgspec.json
obj/project.assets.json
obj/Debug/netcoreapp3.1/als-tools.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/als-tools.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/als-tools.dll
obj/Debug/netcoreapp3.1/als-tools.pdb
