@using AlsTools.Core.Entities

<RadzenCard>
    @if (project != null)
    {
        <div>
            <p><strong>Name:</strong> @project.Name</p>
            <p><strong>Path:</strong> @project.Path</p>
            <p><strong>Live version:</strong> @project.Creator</p>
            <p><strong>Tempo:</strong> @project.Tempo</p>
        </div>
    }
    </RadzenCard>

    @code {
    [Parameter]
    public required LiveProject project { get; set; }
}