@page "/project-details-by-id/{projectId}"
@using AlsTools.Core.Entities
@using System.Linq
@using System.Net
@using AlsTools.Core.ValueObjects.Tracks
@using Microsoft.AspNetCore.Components.Web
@inject NavigationManager navigationManager
@inject ILiveProjectAsyncService liveProjectService

<PageTitle>Project details</PageTitle>

@if (project == null)
{
    <p>@message</p>
}
else
{
    <ProjectDetails project="project" />
}

@code {
    [Parameter]
    public required string projectId { get; set; }

    private string message = "Loading...";

    private LiveProject? project;
    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        var decodedId = System.Net.WebUtility.UrlDecode(projectId);

        Log.Information("Decoded project id: {decodedId}", decodedId);

        Log.Debug("Before liveProjectService.GetProjectByIdAsync()");
        project = await liveProjectService.GetProjectByIdAsync(decodedId);
        Log.Debug("After liveProjectService.GetProjectByIdAsync()");

        if (project == null)
        {
            message = "Project not found";
            Log.Debug(message);
        }

    }
}