@page "/stats"
@using AlsTools.Core.Entities
@using AlsTools.Core.ValueObjects.ResultSets
@* @using Microsoft.AspNetCore.Components.QuickGrid *@
@using System.Linq
@inject ILiveProjectAsyncService liveProjectService
@inject ILogger<Statistics> logger;

<PageTitle>Statistics</PageTitle>

<h1>Statistics</h1>

<div>
    <label for="ignoreDisabledDevices">Ignore disabled devices:</label>
    <input type="checkbox" id="ignoreDisabledDevices" @bind="ignoreDisabledDevices" />

    <label for="limit">Limit:</label>
    <input type="number" id="limit" @bind="limit" />

    <button class="btn btn-primary" @onclick="LoadStatistics">Load statistics</button>
</div>

<h2>All Plugins</h2>
<RadzenDataGrid TItem="PluginDevice" Data="@allPlugins" AllowFiltering="true" AllowSorting="true" PageSize="5" AllowPaging="true"
    PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
    <Columns>
        <RadzenDataGridColumn TItem="PluginDevice" Property="Name" Title="Name" Width="350px" />
        <RadzenDataGridColumn TItem="PluginDevice" Property="Family.Sort" Title="Sort" Width="250px" />
        <RadzenDataGridColumn TItem="PluginDevice" Property="Format" Title="Format" Width="180px" />
        <RadzenDataGridColumn TItem="PluginDevice" Property="Path" Title="Path" />

    </Columns>
</RadzenDataGrid>

<h2>All Stock Devices</h2>
<RadzenDataGrid TItem="StockDevice" Data="@allStockDevices" AllowFiltering="true" AllowSorting="true" PageSize="5" AllowPaging="true"
    PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true" FilterMode="FilterMode.CheckBoxList">
    <Columns>
        <RadzenDataGridColumn TItem="StockDevice" Property="Name" Title="Name" Width="350px" />
        <RadzenDataGridColumn TItem="StockDevice" Property="Family.Sort" Title="Sort" Width="250px" />
        <RadzenDataGridColumn TItem="StockDevice" Property="IsGroupDevice" Title="Is Rack?" Filterable="false" />
    </Columns>
</RadzenDataGrid>

<h2>All MaxForLive Devices</h2>
<RadzenDataGrid TItem="MaxForLiveDevice" Data="@allMaxForLiveDevices" AllowFiltering="true" AllowSorting="true" PageSize="5" AllowPaging="true"
    PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
    <Columns>
        <RadzenDataGridColumn TItem="MaxForLiveDevice" Property="Name" Title="Name" Width="350px" />
        <RadzenDataGridColumn TItem="MaxForLiveDevice" Property="Family.Sort" Title="Sort" />
    </Columns>
</RadzenDataGrid>

@code
{
    private bool ignoreDisabledDevices = false;
    private int limit = 10;
    private int total;

    private IQueryable<ItemsCountPerProjectResult>? tracksCountPerProject;
    private IQueryable<ItemsCountPerProjectResult>? pluginsCountPerProject;
    private IQueryable<ItemsCountPerProjectResult>? stockDevicesCountPerProject;
    private IQueryable<ItemsCountPerProjectResult>? projectsWithHighestPluginsCount;
    private IQueryable<ItemsCountPerProjectResult>? projectsWithHighestTracksCount;
    private IQueryable<DevicesUsageCountResult>? mostUsedStockDevices;
    private IQueryable<DevicesUsageCountResult>? mostUsedPlugins;

    private IQueryable<PluginDevice> allPlugins;
    private IQueryable<StockDevice> allStockDevices;
    private IQueryable<MaxForLiveDevice> allMaxForLiveDevices;

    private async Task LoadStatistics()
    {
        logger.LogInformation("Statistics loading...");

        total = await liveProjectService.GetProjectsCount();
        tracksCountPerProject = (await liveProjectService.GetTracksCountPerProject()).AsQueryable();
        pluginsCountPerProject = (await liveProjectService.GetPluginsCountPerProject(ignoreDisabledDevices)).AsQueryable();
        stockDevicesCountPerProject = (await
        liveProjectService.GetStockDevicesCountPerProject(ignoreDisabledDevices)).AsQueryable();
        projectsWithHighestPluginsCount = (await liveProjectService.GetProjectsWithHighestPluginsCount(limit,
        ignoreDisabledDevices)).AsQueryable();
        projectsWithHighestTracksCount = (await liveProjectService.GetProjectsWithHighestTracksCount(limit)).AsQueryable();
        mostUsedStockDevices = (await liveProjectService.GetMostUsedStockDevices(limit, ignoreDisabledDevices)).AsQueryable();
        mostUsedPlugins = (await liveProjectService.GetMostUsedPlugins(limit, ignoreDisabledDevices)).AsQueryable();


        allPlugins = (await liveProjectService.GetAllPluginsFromProjects()).AsQueryable();
        allStockDevices = (await liveProjectService.GetAllStockDevicesFromProjects()).AsQueryable();
        allMaxForLiveDevices = (await liveProjectService.GetAllMaxForLiveDevicesFromProjects()).AsQueryable();
        logger.LogInformation("Statistics loaded");
    }
}
